* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // border: solid 1px black;
    margin: 20px;
    border-radius: 30px;
}
img {
    width: 50px;
}
h1 {
    font-size: 18px;
    color: rgb(14, 13, 12);
    font-weight: bold;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    padding: 5px;
    
    .logo {
        display: flex;
        align-items: center;
    }
    .search-bar input {
        width: 500px;
        border-radius: 14px;
        border: none;
        background-color: rgba(128, 128, 128, 0.205);
        text-align: center;
        padding: 7px;
    }

}
.container{
    background-color: aliceblue;
    height: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
}
