<form class="example-form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <h2>Inscription</h2>
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input formControlName="email" type="email" matInput placeholder="Email">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input formControlName="password" type="password" matInput [type]="hide() ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

    <div class="example-button-row">
        <button type="submit" mat-raised-button>S'inscrire</button>
    </div>
    <div style="text-align: center;">
      <a routerLink="/login" routerLinkActive="active-link">Déjà inscrit ? Connecte-toi</a>
    </div>
</form>


